* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    height: 93vh;
    background-image: url("Assets/images/NetflixBg.jpg");
    background-position: left -33px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    position: relative;
    z-index: 10;
    height: 79px;
    display: flex;
    width: 65vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav img {
    color: red;
    width: 133px;
}

.main .box {
    height: 100%;
    width: 100%;
    background-color: black;
    filter: opacity(0.75);
    position: absolute;
    top: 0;
    box-shadow: 10px 10px 10x inside;
}

.text-box {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;
    gap: 35px;
    color: #FFFFFF;
    font-family: 'NetflixSans';
}

@font-face {
    font-family: 'NetflixSans';
    src: url(Assets/fonts/NetflixSans_W_Md.woff2);
}

@font-face {
    font-family: 'NetflixLighter';
    src: url(Assets/fonts/NetflixSans_W_Rg.woff2);
}

.text-box div .button {
    margin: 0 30px;
}

.text-box>:nth-child(1) {
    width: 625px;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}

.text-box>:nth-child(2) {
    font-weight: 300;
    font-size: 19px;
}

.text-box>:nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    font-family: 'NetflixLighter';
}

.seperator {
    width: 100%;
    height: 60px;
}

.btn {
    border-radius: 2px;
    border: none;
    padding: 5px 13px;
    font-weight: bold;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.normal-btn {
    display: flex;
    align-items: center;
    gap: 50px;
    /* small fixed gap between text and arrow */
    border: 1px solid grey;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    padding: 4px 19px;
    background-color: rgba(23, 23, 23, 0.2);
}

input {
    padding: 7px 24px;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 188px 16px 19px;
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 2px;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red {
    cursor: pointer;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 6px 25px 6px 19px;
    background-color: #E50914;
}

.btn-red-small {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 11px;
    background-color: #E50914;
}

.text {
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .box {
    display: flex;
    -webkit-text-stroke: 1px white;
    align-items: end;
    width: 250px;
    height: 250px;
    color: black;
    font-size: 88px;
    font-weight: bolder;
}

.container .box1 {
    width: 204px;
    height: 298px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-image: url(Assets/images/akshayImg.webp);
}

.container .box2 {
    width: 204px;
    height: 298px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-image: url(Assets/images/koreanImg.webp);
}

.container .box3 {
    width: 204px;
    height: 298px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-image: url(Assets/images/img3.webp);
}

.container .box4 {
    width: 204px;
    height: 298px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-image: url(Assets/images/img4.webp);
}

.container .box5 {
    width: 204px;
    height: 298px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-image: url(Assets/images/dhurandhar2img.webp);
}

.container {
    display: flex;
    gap: 10px;
}

.container .next {
    display: flex;
    align-items: center;
}

.container .next span {
    display: flex;
    align-items: center;
    height: 88px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.1)
}

.text {
    width: 60vw;
    margin: 0 auto;
    font-size: 31px;
    font-family: 'NetflixSans';
    font-weight: bold;
    padding-bottom: 20px;
}

.text-2 {
    color: white;
    width: 60vw;
    margin: 40px auto 0 auto;
    font-size: 29px;
    font-family: 'NetflixSans';
    font-weight: bold;
    padding-bottom: 20px;
}

.label {
    border-radius: 10px;
    width: 266px;
    min-height: 298px;
    color: white;
    background-color: #1a1a2e;
    display: flex;
    /* add this */
    flex-direction: column;
    /* add this */
}

.label .tb1 {
    color: white;
    font-family: 'NetflixSans';
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

.label .tb2 {
    color: grey;
    font-family: 'NetflixSans';
    font-size: 14px;
    padding: 5px 15px;
}

.container2 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.label .icon {
    display: flex;
    justify-content: end;
    margin-top: auto;
}

.tb {
    font-family: 'NetflixSans';
    font-size: 29px;
    color: white;
    width: 60vw;
    margin: 40px auto 10px auto;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 19px;
    font-size: 23px;
    width: 60vw;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'NetflixLighter';
    color: white;
}

.tb4 {
    color: white;
    font-family: 'NetflixSans';
    font-size: 14px;
    margin-top: 40px;
}

.section3 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.another {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.another input {
    width: 313px;
}

.getstarted {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NetflixSans';
    background-color: #E50914;
    color: white;
    padding: 0 16px;
    border-radius: 3px;
    border: none;
    height: 48px;
    font-size: 20px;
}

footer .contact {
    color: grey;
    font-size: 19px;
    width: 60vw;
    margin: 40px auto;
}

a, .new1, .new2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    font-family: 'NetflixLighter';
}

.footerlist div {
    height: 150px;
    width: 213px;
}

.footerlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerlist ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.buttonss {
    width: 60vw;
    margin: 0 auto;
}

.new1 {
    width: 60vw;
    margin: 10px auto 0 auto;
}

.new2 {
    margin: 10px auto 0 auto;
    width: 60vw;
}